* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 10px;
  height: 100vh;
}

body {
  /* background: linear-gradient(135deg, #00b4d8, #03045e); */
  background-image: linear-gradient(rgba(220, 220, 220, 0.5), rgba(203, 204, 204, 0.5)), url("./images/background.jpeg");
  background-size: cover;
}

.container {
  width: 90%;
  max-width: 95rem;
  color: #fff;
  margin: 2rem auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.search input {
  border: 0;
  outline: 0;
  background: #e3f4f9;
  color: #8a8787;
  padding: 10px 25px;
  height: 6rem;
  width: 70%;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 2.5rem;
}

.search button {
  border: 0;
  outline: 0;
  background: #e3f4f9;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.search button img {
  width: 1.6rem;
}

.weather-icon {
  width: 17rem;
  margin-top: 3rem;
}

.temp,
.city,
.description {
  font-size: 5rem;
  font-weight: 100;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  gap: 10rem;
}

.col {
  width: 15rem;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 2.5rem;
}

.col img {
  width: 4rem;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 2.8rem;
  margin-top: -6px;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 1.4rem;
  margin-top: 10px;
  display: none;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 7px;
  }

  .details {
    flex-wrap: wrap;
    gap: 3rem;
  }
}